{% extends 'base.html' %}

{% block content %}


    <div class="container w-full mx-auto pt-20">

    </div>

    <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">

        <!--Console Content-->

        <div class="flex flex-wrap">

            {% for guild in guilds %}
                <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                    <!--Metric Card-->
                    <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
                        <div class="flex flex-row items-center">
                            <div class="flex-shrink pr-4">
                                {% if guild.icon %}
                                    <div class="rounded-md p-3"><img
                                            src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png"
                                            class="border-none rounded-md max-w-sm"
                                            alt="..."
                                    /></div>
                                {% else %}
                                    <div class="rounded-md p-3"><img
                                            src="./../../../media/icon_logo.png"
                                            class="border-none rounded-md max-w-sm"
                                            alt="..."
                                    /></div>
                                {% endif %}

                            </div>
                            <div class="flex-1 text-center md:text-center">
                                <h5 class="font-bold uppercase text-gray-400 mb-2">{{ guild.name }}</h5>
                                <a href="{% url 'panel_manager_accueil' slug=guild.id %}">
                                    <button
                                            class="bg-purple-800 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full ">
                                        Manage
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-600 my-8 mx-4">

        <div class="flex flex-row flex-wrap flex-grow mt-2">


            <div class="w-full p-3" id="accountInfo">
                <div class="bg-gray-900 border border-gray-800 rounded shadow mx-auto text-xs sm:text-sm">
                    <div class="border-b border-gray-800 p-3">
                        <div class="flex items-stretch items-center">
                            <div class="w-1/2">
                                <h5 class="font-bold uppercase text-white md:text-lg text-left"><i class="fa-solid fa-circle-info mr-3"
                                                                              style="color:white"></i>Vos informations
                                </h5>
                            </div>
                            <div class="w-1/2">
                                    {% if last_date is not None %}
                                        <h3 class="font-bold uppercase text-white float-right md:text-base text-right"><i class="fa-solid fa-right-to-bracket mr-3" style="color: white"></i>Dernière connexion
                                            : {{ last_date }}</h3>
                                    {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="p-5">
                        <table class="w-full p-5 text-gray-600 text-base">
                            <thead>
                            <tr>

                                <th class="text-left text-gray-600"><i
                                        class="fa-brands fa-discord mr-2" style="color:white"></i>{{ user.username }}
                                </th>


                                <th class="text-left text-gray-600"></th>
                                <th class="text-left text-gray-600"></th>
                                <th class="text-left text-gray-600"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><i class="fa-solid fa-id-card mr-2" style="color:white"></i>{{ user.id }}</td>
                                <td><i class="fa-solid fa-handshake-angle mr-2"
                                       style="color:white"></i>niveau {{ user.premium_type }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-hashtag mr-1" style="color:white"></i>#{{ user.tag }}</td>

                                <td><i class="fa-solid fa-earth-americas mr-2" style="color:white"></i>{{ user.locale }}
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-user mr-2"
                                       style="color:white"></i>{{ user.discord_tag }}</td>
                                <td><i class="fa-solid fa-user-lock mr-2" style="color:white"></i>{{ user.mfa_enabled }}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <p class="py-2"><a href="https://discord.id/" target="_blank" class="text-white">Pour découvrir
                            plus d'informations...</a></p>

                    </div>
                </div>
            </div>


        </div>


    </div>


{% endblock %}




